target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
*.iml
.idea

# Application development environment properties
/src/main/resources/application-dev.properties


/.vscode/
